<div class="row">
    <div class="btn-group btn-group-toggle" *ngFor="let btnItem of buttonsList">
        <button class="btn btn-dark" [ngClass]="{'active':selectedComp == btnItem}" (click)="selectComponent(btnItem)">
            {{btnItem}}
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div *ngIf="listCompSelected;else houseDetails">
            <app-houses-list></app-houses-list>
        </div>

    </div>

</div>
<ng-template #houseDetails>
    <app-add-house></app-add-house>
</ng-template>