<div class="row">
    <div class="btn-group btn-group-toggle" *ngFor="let btnItem of buttonsList">
        <button class="btn btn-dark" [ngClass]="{'active':selectedComp == btnItem}" (click)="selectComponent(btnItem)">
            {{btnItem}}
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div *ngIf="selectedComp=='Houses List';else houseDetailsBloc;">
            <app-houses-list></app-houses-list>
        </div>

    </div>

</div>
<ng-template #houseDetailsBloc>
    <div *ngIf="selectedComp=='Add House'">
        <app-add-house></app-add-house>
    </div>
    <div *ngIf="selectedComp=='House Details'">
        <app-houses-details [house]=houseDetails *ngIf="houseDetails != 'undefined'"></app-houses-details>
    </div>
</ng-template>