<div class="container-fluid" style="padding: 0">

    <div class="col-12">
        <app-header></app-header>

    </div>
    <div class="row" style="margin: 0;padding: 0">
        <div class="col-3">
            <app-side-nav-bar></app-side-nav-bar>
        </div>
        <div class="col">
            <div class="container" style="max-width: 90%;">
                <div class="row">
                    <h1 class="display-4">{{compName}}</h1>
                    <hr>
                    <!-- <div class="col">
                        <p class="lead" *ngIf="isAdmin==true;else elsebloc">{{helloMessage}}. </p>
                        <router-outlet></router-outlet>
                        <ng-template #elsebloc>
                            <p class="lead">Welcome to the users Panel </p>
                            <router-outlet></router-outlet>

                        </ng-template>
                    </div> -->
                </div>
                <div class="row">
                    <router-outlet></router-outlet>
                </div>

            </div>

        </div>
    </div>




</div>